[build]
publish = "theme"
command = "npm install --force && npm run build"

[[headers]]
for = "/*" # Esto define qué rutas cubrirá este bloque específico de [[headers]].

[headers.values]
X-Frame-Options = "DENY"
X-XSS-Protection = "1; mode=block"
Referrer-Policy = "same-origin"
Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"